/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/layout/sticky-footer";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/sprites";
@import "compass/utilities/text/nowrap";

$site-width: 640px;
$card-width: $site-width - 40;
$text-color: #444;
$border-color: #a4acb5;
$border-color-inner: #ccc;

$default-box-shadow-color: #8f969e;
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 2px;





/* layout */
#container {
  margin: 0 auto;
  width: $site-width;
}

header {
  margin-top: 100px;
  margin-left: 10px;
  width: 200px;
  float: left;
}

nav {
  margin-top: 112px;
  margin-right: 10px;
  width: 300px;
  float: right;
}

#content {
  position: relative;
  width: $site-width;
  overflow: hidden;

  #card-slider {
    position: relative;
    width: $card-width * 4;
    height: 330px;
    overflow: hidden;
    padding: 0 20px 0 20px;

    .card {
      float: left;
      width: $card-width;
      margin-top: 20px;
      margin-right: 20px;
    }
  }

  #footer {
    position: absolute;
    bottom: 0px;
    height: 45px;
    width: 100%;
  }
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.clear {
  clear: both;
  @include clearfix;
}




/* font and color */
body {
  font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  color: $text-color;
  background: #cdd3df url('/images/bg.jpg');
}

h1, h2 {
  font-size: 18px;
  line-height: (18px*2);
}

h3, h4 {
  font-size: 16px;
  line-height: (16px*2);
}

a {
  @include hover-link
}

header a, nav a{
  color: #666;

  &:hover, &.current {
    text-decoration: none;
    color: #333;
    @include text-shadow;
  }
}

header h1 {
  opacity: 0;
}

nav {
  font-size: 12px;
}

#content {
  font-size: 14px;

  p {
    line-height: 18px;
    padding-bottom: 10px;
  }
}

footer, footer a {
  font-size: 10px;
  color: #777;
}








/* GUI */
nav {
  ul {
    float: right;
    @include horizontal-list-container;

    li {
      @include horizontal-list-item(10px);
    }
  }
}

#item-pick {
  position: absolute;
  z-index: 10;
  width: 17px;
  height: 17px;
  margin-top: -6px;
  margin-left: 507px; // 550, 602
  background: url('/images/item-pick.png') no-repeat;
}

#content {
  border: solid 1px $border-color;
  @include border-bottom-radius(10px);
  @include box-shadow;
  background: white;

  #footer {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background: #292929;
    @include linear-gradient(color-stops(#383838, #2a2a2a));
    @include box-shadow(#6b6b6b, 0, 1px, 1px, 0, inset);
    @include border-bottom-radius(10px);
 
    .icon {
      float: left;
      @include sprite-background('/images/icons.png', 24px, 24px);
      margin-right: 10px;
      text-indent: -9999px;
      cursor: pointer;

      &.twitter {
        @include sprite-position(1, 1, 24px, 24px);
        &:hover {
          @include sprite-position(1, 2, 24px, 24px);
        }
      }
      
      &.facebook {
        @include sprite-position(2, 1, 24px, 24px);
        &:hover {
          @include sprite-position(2, 2, 24px, 24px);
        }
      }

      &.flickr {
        @include sprite-position(3, 1, 24px, 24px);
        &:hover {
          @include sprite-position(3, 2, 24px, 24px);
        }
      }
    }

    #feed {
      float: left;
      width: 550px;
      height: 30px;
      margin-top: 10px;
      margin-left: 10px;
      overflow: hidden;

      .text {
        margin-top: 50px;
        float: left;
        font-size: 11px;
        color: #aca9a9;
        padding-top: 7px;
        @include nowrap;
        margin-right: 10px;

        a {
          color: #c8e128;
        }
      }

      .time {
        margin-top: 50px;
        float: left;
        font-size: 10px;
        @include nowrap;
        @include border-radius(2px);
        background: #525252;
        color: #aca9a9;
        padding: 5px;
      }
    }

    #links {
      float: right;
      width: (24px+10)*2;
      height: 30px;
      margin-top: 10px;
      margin-right: 2px;
    }
  }
}

/* cards */
#me div {
  background: url('/images/andreas-walm.jpg') no-repeat;
  height: 233px;
  padding-top: 40px;
  padding-left: 170px;
  color: white;
  @include text-shadow(lighten(black, 65%), 0, 1px, 5px);

  h2 {
    font-size: 38px;
    line-height: 60px;
  }
  p {
    width: 410px;
    font-size: 14px;
  }
}

/* animations for card-slider, fallback to jQuery in main.js */
.transitions {

  header h1 {
    @include transition-property('opacity');
    @include transition-duration(.2s);
    @include transition-timing-function(ease-out);
  }

  #item-pick {
    @include transition-property('margin-left');
    @include transition-duration(.2s);
    @include transition-timing-function(ease-out);
  }

  #card-slider {
    @include transition-property('left, height');
    @include transition-duration(.2s);
    @include transition-timing-function(ease-out);
  }

  #feed .text, #feed .time {
    @include transition-property('margin-top');
    @include transition-duration(.2s);
    @include transition-timing-function(ease-out);
  }
}
