---
base_url: http://andreas.walm.se
---
<!doctype html>
<html lang="sv" class="no-js">
<head>
  <meta charset="utf-8">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="Saker som intresserar webbutvecklare och tekniknördar, ja såna som jag, Andreas Wålm">
  <meta name="author" content="Andreas Wålm">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/css/style.css?v=1">
  <link rel="stylesheet" href="/css/syntax.css?v=1">

  <!-- For the less-enabled mobile browsers like Opera Mini -->
  <link rel="stylesheet" media="handheld" href="/css/handheld.css?v=1">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/js/modernizr-1.5.min.js"></script>

</head>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="toolbar"></div>

  <div id="container" class="type-{{ page.type }}">
    <header>
    <h1 class="notrans"><a href="/">Andreas W&aring;lm</a></h1>
      <form action="http://www.google.se/search" method="get">
        <input type="hidden" name="as_sitesearch" value="{{ page.base_url || replace:'http://', '' }}"/>
        <input type="text" name="as_q" id="searchbox" value="Sök via google.."/>
      </form>
      <h2>webbutvecklare och teknikn&ouml;rd</h2>

      <div id="menu">
      <ul>
        <li><a href="/" {% if page.type == 'home' %}class="active"{% endif %}>Hem</a></li>
        <li><a href="/about.html" {% if page.url contains 'about.html' %}class="active"{% endif %}>Om</a></li>
        <li><a href="/contact.html" {% if page.url contains 'contact.html' %}class="active"{% endif %}>Kontakta</a></li>
      </ul>
      </div>
    </header>

    <div id="main">

      {{ content }}

    </div>


    <div id="sidebar" style="display:none;">
      <small>Twitter:</small>
      <div id="twitter" class="notrans">
        <p class="tools"><a href="http://twitter.com/walming">Follow me!</a></p>
      </div>

      <small>Flickr:</small>
      <div id="flickr">
        <ul></ul>
        <p class="tools"><a href="http://www.flickr.com/photos/walm/" target="_blank">More »</a></p>
      </div>

      <small>Zootools:</small>
      <div id="zootools">
        <ul></ul>
        <p class="tools"><a href="http://zootool.com/user/walming/" target="_blank">More »</a></p>
      </div>

    </div>

    <footer>
    <p>&copy; <span class="notrans">Andreas W&aring;lm</span> 1979-&lsquo;10, inspiererad av s&aring; m&aring;nga, byggd med <a href="http://github.com/mojombo/jekyll" target="_blank">Jekyll</a> på <a href="http://pages.github.com/" target="_blank">GitHub pages</a>.</p>
    </footer>

  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>


  <script src="/js/plugins.js?v=1"></script>
  <script src="/js/script.js?v=1"></script>

  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

  <script>
   var _gaq = [['_setAccount', 'UA-430739-2'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

</body>
</html>
