---
layout: default
type: post
---

<div class="post">
  <h2 class="title"><a href="{{ page.url }}">{{ page.title }} </a></h2>

  {{ content }}

  <p class="meta">
    Skapat <span class="datetime">{{ page.date | date_to_string }}</span>
    {% if page.tags %}
    <span class="tags">Tags: {% for tag in page.tags %} <a href="/{{ tag }}">{{ tag }}</a> {% endfor %} </span>
    {% endif %}
  </p>
  <p class="tools">Dela med via <a href="#">Twitter</a>, <a href="#">Facebook</a></p>
</div>

<small>Liknande:</small>
<div id="previous">
  <ul>
     {% for post in site.related_posts limit:3 %}
     <li><h2><span class="date">{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></h2></li>
     {% endfor %}
  </ul>
</div>

